<h1>My Tasks</h1>
<% @tasks.each do |task| %>
<ul>
  <li>

  <input type="checkbox" <%= "checked" if task.completed? %>>
  <%= link_to task.title, task_path(task)%>
</li>
</ul>
<%end%>


<i class="fas fa-plus" style="color:blue;"> <%= link_to "Add a new Task", new_task_path%></i>




